@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
    @apply border-2 border-gray-400 rounded-md w-full px-1;
    @apply mb-2;
}

input:focus, textarea:focus {
    @apply border-blue-300;
}

h1 {
    @apply text-blue-900 mb-2 text-xl;
}

label {
    @apply text-blue-900;
}


/* Buttons */
.btn-primary {
    @apply bg-blue-900 text-white py-1 px-4 rounded-md;
}

.btn-red {
    @apply bg-red-600 text-white py-1 px-4 rounded-md;
}

.btn-default {
    @apply bg-gray-500 text-white py-1 px-4 rounded-md;
}

/* Tabble  */
table.basic {
    @apply w-[60%];
}

table.basic thead {
    @apply bg-blue-100 text-left;
}

table.basic tr, td {
    @apply border border-blue-200 p-1;
}

table.basic a {
    @apply text-white text-sm py-[2px] px-2 mr-2 rounded-md gap-1 inline-flex;
}

/* user: kcsamm11, pass: HzZroEEd6BbmTO3o, IP: 102.88.62.71/32 */

/* kctest123 */